.current-track-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #e6e6e6;
    height: 450px;

    .album-cover {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: solid 5px #e6e6e6;
        box-shadow: 10px 15px 10px 2px rgba(0, 0, 0, 0.2);
        animation: rotation 8s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }

    .track-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .track-name{
            padding: 10px 0;
            font-weight: bold;
        }
    }
}