.left-content-container {
    flex: 10%;
    background-color: #292929;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .button-group {
        margin-top: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 10px 15px 10px 2px rgba(0, 0, 0, 0.2);

        button {
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #1c1c1c;
            color: #e6e6e6;
            text-align: center;
            height: 25px;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 3px;
            border-bottom: solid 2px #292929;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu-icon-down {
                color: #1db954;
            }

            .menu-icon-up {
                color: #e6e6e6;
            }
        }

        button:hover {
            background-color: #1db954;
            color: #292929;

            .menu-icon-down {
                color: #292929;
            }
        }

        button:last-child {
            border-bottom: none;
            height: 20px;
        }
    }

    .browse-container {
        height: 500px;
        width: 100%;
        overflow: scroll;
    }
}