body {
  font-family: "Patrick Hand", cursive;
  padding: 10px 20px;
  background-color: #292929;
  overflow: hidden
}

button,
input {
  font-family: inherit;
}

::placeholder {
  color: #e6e6e6;
}

a {
  text-decoration: none;
  color: black;
}
