.main-content-container {
    flex: 50%;
    background-color: #292929;
    padding: 10px;

    .player-container {
        background-color: yellowgreen;
        padding: 20px;
        border: white solid 1px;
    }
}