.main-content-container {
    flex: 65%;
    background-color: #292929;
    padding: 5px;
    display: flex;
    flex-direction: column;


    .player-container {
        height: 500px;
        width: 100%;
        overflow: scroll;
        border: white solid 1px;
    }

    
}