.player-control-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 120px;

    .draggable-progress-bar-group {
        height: 30px;
        display: flex;
        flex-direction: row;
        color: #1db954;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .draggable-progress-bar {
            width: 90%;
            -webkit-appearance: none;
            background-color: #e6e6e6;
            height: 4px;
            border-radius: 20px;
            outline: none;
            transition: background 1000ms ease-in;
        }

        .draggable-progress-bar::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border: 4px solid #1db954;
            border-top-color: #1db954;
            border-right-color: #1db954;
            transform: rotate(45deg);
            border-radius: 50%;
            background-color: #e6e6e6;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
        }
    }


    .volume-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .player-button-icon {
            padding: 0 10px;
            width: 30px;
            height: 25px;
            background-color: #292929;
            color: #e6e6e6;
        }

        .volume-bar {
            width: 100%;
            -webkit-appearance: none;
            background-color: #e6e6e6;
            height: 3px;
            border-radius: 20px;
            outline: none;
            transition: background 2000ms ease-in;
        }

        .volume-bar::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
            border: 2px solid #1db954;
            border-top-color: #1db954;
            border-right-color: #1db954;
            transform: rotate(45deg);
            border-radius: 50%;
            background-color: #e6e6e6;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
        }

        .current-volume {
            padding: 0 10px;
            font-size: 20px;
            background-color: #292929;
            color: #e6e6e6;
        }

    }

    .player-button-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        button {
            background-color: #292929;
            border: none;
            outline: none;
            cursor: pointer;

            .player-button-icon {
                width: 20px;
                height: 20px;
                color: #e6e6e6;
            }

            .play-pause-icon {
                width: 35px;
                height: 35px;
                color: #1db954;
            }
        }

        button button:hover {
            .player-button-icon {
                color: #1db954
            }
        }
    }
}