.collapsible-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e6e6e6;
    border-bottom: solid 2px #1c1c1c;
    padding: 10px 0px;

    img {
        width: 180px;
        height: 180px;
        border-radius: 15px 5px 15px 5px;
        margin: 15px;
    }
}

.collapsible-content-container:last-child {
    border-bottom: none
}