.right-content-container {
    flex: 10%;
    background-color: #292929;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .history-container {
        height: 550px;
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
        padding: 10px;
        justify-content: space-around;
        grid-gap: 10px;
        overflow: scroll;
    }
}