.right-content-container {
    flex: 15%;
    background-color: #292929;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    opacity: 0.85;

    .history-container {
        margin-top: 20px;
        height: 580px;
        display: grid;
        width: 100%;
        grid-template-columns: auto auto;
        justify-content: space-around;
        grid-gap: 5px;
        overflow: scroll;
    }
}