.search-bar {
    width: 40%;
    height: 30px;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    background-color: #292929;
    color: #e6e6e6;
}

.search-bar:focus {
    outline: none;
    background-color: #1db954;
    border-color: #1db954;
    caret-color: #e6e6e6;
    color: #e6e6e6;
}

.search-bar:hover {
    background-color: #1db954;
    border-color: #1db954;
}