.search-bar-container {
    width: 70%;
    height: 50px;
    position: relative;
    z-index: 3;

    .search-bar {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        font-size: 16px;
        letter-spacing: 3px;
        font-weight: bold;
        text-align: center;
        background-color: #292929;
        color: #e6e6e6;

        &:focus {
            outline: none;
            background-color: #1db954;
            border-color: #1db954;
            caret-color: #e6e6e6;
            color: #e6e6e6;
        }

        &:hover {
            background-color: #1db954;
            border-color: #1db954;
        }
    }

    .search-results-container {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #292929;
        opacity: 0.9;
        color: #e6e6e6;
        overflow: scroll;
        z-index:3;
        padding: 1rem;
    }


}