.header-container {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-container {
        padding: 15px;
        display: flex;
        align-items: center;

    }

    .options-container {
        padding: 15px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        link {
            padding: 10px 30px;
            cursor: pointer;
        }

        p {
            padding: 10px 20px;
        }

        button {
            width: 15%;
            height: 35px;
            background-color: #292929;
            color: #e6e6e6;
            font-size: 15px;
            font-weight: bold;
            border: 2px solid #e6e6e6;
            border-radius: 10px;
            opacity: 0.85;
        }

        button:hover {
            background-color: #1db954;
            color: #292929;
            border: 1px solid #1db954;
        }
    }
}