.header-container {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    .logo-container {
        padding: 15px;
        display: flex;
        align-items: center;

    }

    .options-container {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        link {
            padding: 10px 30px;
            cursor: pointer;
        }

        p {
            padding: 10px 20px;
        }

        button {
            width: 120px;
            height: 50%;
            background-color: #292929;
            color: #e6e6e6;
            font-size: 15px;
            border: none;
            border-radius: 10px;
        }
    }
}