.my-playlists-container {
    flex-direction: column;
    box-shadow: 10px 15px 10px 2px rgba(0, 0, 0, 0.2);
    border: 2px #1c1c1c solid;

    .my-playlists {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}